<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Navigator Responsive Multipurpose Bootstrap HTML5 Template">
    
    <meta name="author" content="ngomanet.com">
  
    <title>NgomaNet | Free MP3 Download | Free Youtube MP3 Download | Download Songs</title>
  
  <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    {% load static %}
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <!-- Revo Slider CSS
      ================================================== -->
    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revo-slider/css/settings.css' %}">
    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revo-slider/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revo-slider/css/navigation.css' %}">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revo-slider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revo-slider/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revo-slider/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revo-slider/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revo-slider/css/navigation.css' %}">
    <!-- CSS
    ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="{% static 'plugins/themefisher-font/style.css' %}">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="{% static 'plugins/lightbox2/dist/css/lightbox.min.css' %}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}" >
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  </head>